h1 {
  font-size: 8vh;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-shadow: lightgray 5px 5px;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: white;
  -webkit-text-fill-color: black;
  position: fixed;
  top: 1vh;
  left: 0%;
  right: 0%;
}

@media screen and (max-width: 320px) {
  h1 {
    font-size: 35px;
  }
}
